.subtitle {
  font-family: var(--font-text-2);
  font-weight: 200;
  font-size: 25px;
  line-height: 165%;
}

@media (max-width: 768px) {
  .subtitle {
    font-size: 22px;
  }
}

@media (max-width: 550px) {
  .subtitle {
    font-size: 20px;
  }
}
